<!--footer_Big2Be-->
<div id="footer-big2be">
  <p>
    <a href="http://www.big2be.com">
      <img src="http://localhost/italo/catalog/view/theme/default/image/big2be.jpeg" alt="Big2Be" width="205" height="50">
    </a>  
  <p>
</div>