<!-- catalog/view/theme/default/template/common/search.twig --> 
<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
  <span class="input-group-btn">
    <button type="button" id="button-search" class="btn btn-default btn-lg">
      <i class="fa fa-search"></i>
    </button>
  </span>
</div>