<!-- catalog/view/theme/default/template/extension/module/featured.twig -->
<h3>{{ heading_title }}</h3>
<div class="row">
 {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        <p>{{ product.description }}</p>
        {% if product.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        {% if product.price %}
        <p class="price">
          {% if logged == true %}
            {% if not product.special %}
              {{ product.price }}
            {% else %}
              <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
            {% endif %}
            {% if product.tax %}
              <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
            {% endif %}
          {% else %}
            <a href="http://localhost/italo/index.php?route=account/loginitalo" >R$ Entre para Ver ...</a>
          {% endif %}
        </p>
        {% endif %}
      </div>
      <div class="button-group">
        <!-- Estoy en catalog/view/theme/*/template/extension/module/featured.twig -->
        {% if product.weight == 0.5 %}
	        <input type="number" name="quantity" id="input-cantidad" value="0.5" min="0.5" max="10000" step="0.5" onkeydown="return false" />
        {% else %}
	        <input type="number" name="quantity" id="input-cantidad" value="1" min="1" max="10500">
        {% endif %}
        <button type="button" onclick="myaddcart('{{ product.product_id }}', '{{ product.weight}}', $(this).parent().parent().find('#input-cantidad').val());"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<script type="text/javascript"><!--

  function myaddcart( product, weight, cantidad ) {
    var quantity  = 0;

    if (weight == 0.5)
      quantity = cantidad / weight;
    else
      quantity = cantidad;  

    cart.add( product, quantity ); 
    // alert( product + " / " + weight + " / " + cantidad + " / " + quntity );
  }

--></script>