{{ header }}

<!-- catalog/view/theme/default/template/account/a.twig -->
<div id="account-login" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
    <div class="alert alert-success alert-dismissible">
      <i class="fa fa-check-circle"></i> {{ success }}
    </div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible">
      <i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    </div>
    {% endif %}

    <!-- begin create list address user -->
    <div id="row-address" style="text-align:center">
      <div id="div-address">
        <h2>{{ title }}</h2>

        <!-- begin select -->
        <select class="form-control selectpicker" id="selected_address"></select>
        <!-- end select -->

        <!-- begin buttons panel address -->
        <div>
          {% if newbtn == true %}
          <div id="button-new">
            <a id="new_address" class="btn btn-italo">
              <i class="mdi mdi-plus"></i>&nbsp;{{ textnew }}
            </a>
          </div>
          {% endif %}
          <div id="button-list">
            <a id="list_address" class="btn btn-italo">
              <i class="mdi mdi-check"></i>&nbsp;{{ textlist }}
            </a>
          </div>
        </div>  
        <!-- end buttons panel address -->

      </div>    
    </div>
    <!-- end create list address user -->

    <!-- begin modal : new addres -->
    <div class="modal" tabindex="-1" role="dialog" id="modal-new-address">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          
          <!-- Header -->
          <div class="modal-header" id="modal-header-new-address">
            <h5 class="modal-title">Novo endereço</h5>
            <!--
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            -->
          </div>
          
          <!-- Body -->
          <div class="modal-body" id="modal-body-new-address">
            
            <!-- Zip code -->
            <div class="m-3" style="min-width:300px;max-width:300px;">
              <div class="input-group" style="margin-left: 33px;margin-bottom: 5px;">
                <span class="input-group-addon" id="basic-addon1" style="font-size: 20px;height: 30px;background-color: transparent;">
                  <span class="input-group-text" style="border-right:none; background-color:#fff;">
                    <i class="mdi mdi-magnify"></i>
                  </span>
                </span>
                <input  type="text" 
                        id="zipcode" 
                        name="zipcode" 
                        class="form-control" 
                        maxlength="50" 
                        placeholder="Digite o CEP para começar" 
                        style="border-left:none;margin-left: 0px;">  
                </div>
              <div class="mt-1 field-error" style="display:none;" id="zipcode-error">CEP inválido</div>
            </div>

            <!-- Address -->
            <div id="address" style="display:none;" class="ml-3 mr-3">
                <div class="row" style="margin-bottom: 5px;">
                    <div class="col-md-8 col1">
                        <input type="text" id="street" class="form-control" placeholder="Rua, Avenida..."/>
                    </div>
                    <div class="col-md-4 col2">
                        <input type="text" id="number" class="form-control" placeholder="Número"/>
                    </div>
                </div>

                <div class="row mb-2" style="margin-bottom: 5px;">
                    <div class="col-md-8 col1">
                        <input type="text" id="district" class="form-control" placeholder="Bairro"/>
                    </div>
                    <div class="col-md-4 col2">
                        <input type="text" id="complement" class="form-control" placeholder="Complemento (opcional)"/>
                    </div>
                </div>

                <div class="row mb-2" style="margin-bottom: 5px;">
                    <div class="col-md-8 col1">
                        <input type="text" id="city" class="form-control" placeholder="Cidade" readonly/>
                    </div>
                    <div class="col-md-4 col2">
                        <input type="text" id="uf" class="form-control" placeholder="UF" readonly/>
                    </div>
                </div>
            </div>
          </div>

          <!-- Footer -->
          <div class="modal-footer">
            <button type="button" style="display:none;" class="btn btn-primary" id="modal-button-ok-new-address">Cadastrar</button>
            <button type="button" class="btn btn-secondary" id="modal-button-cancel-new-address" data-dismiss="modal">Cancelar</button>
          </div>

        </div>
      </div>
    </div>
    <!-- end modal : new addres  -->

    {{ content_bottom }}</div>
    {{ column_right }}</div>
    
</div>

<script type="text/javascript"><!--

  // Load Addresses
  // $("#selected_address").selectpicker();
  ReloadAddress();

  $("#new_address").on("click", function() {
    $('#modal-new-address').modal("show");
  });

  $("#list_address").on("click", function() {
    url_redirect({  url : './index.php?route=common/home',
                    method : 'post', 
                    data : { logged : "YES" } 
                });   
  });

  function ReloadAddress() {
    $('#selected_address').empty();

    $.ajax({
            url: './mockup_oc_ajax.php',
			      type: 'post',
			      data: { method : "list_user_addresses" },
            dataType: 'json',
            success:function(json) {
              if (json.data['success']) {
                var len = json.data['address'].length;
                for( var i = 0; i<len; i++){
                    var address = json.data['address'][i];
                    $("#selected_address").append("<option data-tokens='" + address +"'>" + address + "</option>");
                }
              }
            },  
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("error ajax");
			          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }    
          });

    // $("#selected_address").selectpicker("refresh");      
  }

  // Load modal dialog new address 
  
  var searching_zipcode = false;

  $("#zipcode").on("change keyup", function() {
    zipcode = $(this).val().replace(".", "").replace("-", "").trim();
    if (zipcode.length >= 8) {
      if (!searching_zipcode) { 
        searching_zipcode = true;
        $("#zipcode-error").fadeOut();
        $.ajax({ 
          url: "./mockup_oc_ajax.php",
          dataType: 'JSON',
          method: 'POST',
          data : { method : "fetch_zip_code", zipcode : zipcode },
          success:function(response) {
            if (response.data['success']) 
              zipcodeSearchSucceeded(response.data);
            else
              zipcodeSearchFailed(zipcode);    
          },
          error: function(xhr, ajaxOptions, thrownError) {
            console.log("error ajax");
            zipcodeSearchFailed(zipcode);
			    }   
        });
      }
    } else { 
      resetZipcodeState(zipcode);
    }
  });

  function zipcodeSearchFailed(zipcode) {
    $("#zipcode-error").fadeIn();
    $("#modal-button-ok-new-address").fadeOut();
    searching_zipcode = false;
  }

  function zipcodeSearchSucceeded(data) {
    $("#address").fadeIn();
    $("#street").val(data.street);
    $("#district").val(data.district);
    $("#city").val(data.city);
    $("#uf").val(data.state);
    $("#modal-button-ok-new-address").fadeIn();
  }  

  function resetZipcodeState(zipcode) {
    $("#zipcode-error").fadeOut();
    $("#modal-button-ok-new-address").fadeOut();
    searching_zipcode = false;
  }

  $("#modal-button-ok-new-address").on("click", function() {
    if ( validateNewAddress() ) {
       newAddress();
    }
  });

  function newAddress() {
    
    $.ajax({
            url: './mockup_oc_ajax.php',
			      type: 'post',
			      dataType: 'json',
            data : { method   : "new_user_addresses",
                     zipcode  : $("#zipcode").val(),
                     street   : $("#street").val(), 
                     number   : $("#number").val(),
                     district : $("#district").val(),
                     city     : $("#city").val(),
                     state    : $("#uf").val() },
			      dataType: 'json',
            success:function(json) {
              if (json.data['success']) {
                console.log("registro guardado");
                url_redirect({  url : 'index.php?route=account/addressitalo',
                                method : 'post', 
                                data : { newbtn : "NO" } 
                });                
              } else
                alert("Error en Registro de Direccion");
            },  
            error: function(xhr, ajaxOptions, thrownError) {
                console.log("error ajax");
			          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }    
          });  

  }

  function validateNewAddress() {
    
    if ( $("#zipcode").val() === "" ) {
      alert("Digite CEP");
      return false;
    } else if ( $("#street").val() === "") {
      alert("Digite Rua");
      return false;
    } else if ( $("#number").val() === "") {
      alert("Digite Numero");
      return false;
    } else if ( $("#district").val() === "") {
      alert("Digite Barrio");
      return false;
    }

    return true;

  }


--></script>

{{ footer }}  
