{{ header }}
<!-- catalog/view/theme/default/template/account/loginitalo.twig -->
<div id="account-login" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div id="row-login">
        <div id="div-login">
            <h2>{{ title }}</h2>
            <p>{{ label }}</p>
            <input type="text" 
                   id="input_cpf" 
                   name="input_cpf"
                   value="" 
                   onkeypress="CheckCPF(event)"
                   placeholder="Digite seu CPF">      
        </div>
    </div>  
    {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<script type="text/javascript"><!--

function CheckCPF(event) {
    var input = document.getElementById("input_cpf");
    if (event.keyCode === 13) {
        $.ajax({
			url: 'mockup_oc_ajax.php',
			type: 'post',
			dataType: 'json',
			data: { method : "get_customer_cpf", cpf : input.value },
			success: function(json) {
                if (json.data['success']) {
                    console.log("CPF " + json.data['email'] + " " + json.data['name']);
                    url_redirect( { url : 'index.php?route=account/redirectlogin',
                                    method : 'post',
                                    data : { cpf : input.value, 
                                             email : json.data['email'], 
                                             name : json.data['name'] }
                                } );          
                } else {
                    console.log("CPF : " + input.value + ", NO Encontrado");    
                    window.open("http://localhost/italo/index.php?route=account/register","_self");
                }    
			},
			error: function(xhr, ajaxOptions, thrownError) {
                console.log("error ajax");
			    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
}

--></script>

{{ footer }}  