{{ header }}
<!-- catalog/view/theme/default/template/account/redirect.twig -->
<div id="account-login" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div id="row-redirect">
        <div id="div-redirect">
            <h2>{{ title }}</h2>
            <h4>{{ name }}</h4>
            <p>{{ label }}</p>
            <input type="text" value="{{ cpf }}" disabled>      
            <input type="text" value="{{ email }}" disabled>      
            <input type="password" 
                   id="input-password" 
                   name="password"
                   value="" 
                   onkeypress="CheckPassword('{{cpf}}', '{{email}}', '{{name}}', event)" 
                   placeholder="Digite seu Senha">      
        </div>
    </div>  
    {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<script type="text/javascript"><!--

function CheckPassword( cpf, email, name, event ) {
    var input = document.getElementById("input-password");
    if (event.keyCode == 13) {
        $.ajax({
		    url: 'mockup_oc_ajax.php',
			type: 'post',
			dataType: 'json',
			data: { method : "user_password", password : input.value },
			success: function(json) {
                if (json.data['success'])
                    url_redirect( { url : 'index.php?route=account/shipptype',
                                    method : 'post',
                                    data : { cpf   : cpf, 
                                             email : email, 
                                             name  : name }
                                    } );          
                else
                    alert("Password " + input.value + " NO Encontrado");    
			    },
			error: function(xhr, ajaxOptions, thrownError) {
                console.log("error ajax");
			    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});
	}
}    

--></script>

{{ footer }}  