{{ header }}
<!-- catalog/view/theme/default/template/account/shipptype.twig -->
<div id="account-login" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div id="row-shipp">
        <div id="div-shipp">
            <h2>{{ title }}</h2>
            <p>{{ label }}</p>
            <div>
                <button type="button" 
                        id="button1" 
                        class="btn btn-italo" 
                        onclick="ClickButton('{{cpf}}','{{name}}','{{email}}','1');">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <span>{{ button1 }}</span>
                </button>
                <button type="button" 
                        id="button2" 
                        class="btn btn-italo"
                        onclick="ClickButton('{{cpf}}','{{name}}','{{email}}','2');">
                    <i class="fa fa-motorcycle" aria-hidden="true"></i>
                    <span>{{ button2 }}</span>
                </button>
            </div>          
        </div>
    </div>  
    {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<script type="text/javascript"><!--

function ClickButton( cpf, name, email, cId ) {
    console.log("Click Button " + cId);
    window.open("http://localhost/italo/index.php?route=account/addressitalo","_self");
    /*
    $.ajax({
		    url: 'index.php?route=account/addressitalo',
			type: 'post',
			dataType: 'json'
        });    

    // url_redirect( { url : 'http://localhost/italo/index.php?route=account/addressitalo'} );
    */
}    

--></script>

{{ footer }}  