#header {
  background-color: #1D3251;
}

.btn-group strong  {
  color: white;
}

#top-links .fa {
  color: white;
}

#button-search {
  /*
  background: transparent;
  border: none;
  */
  margin-left: -40px;
  color: #1D3251;
  text-shadow: none;
  background-color: #1D3251;
  background-image: none;
  border-color: #1D3251;
  background-repeat: repeat-x;
  border: 0px solid #1D3251;
  border-radius: 0px;
  box-shadow: none;
}

#search .fa {
  font-size: 20;
  color: white;
}  

#cart .btn-inverse {
  background-color: transparent;
  background-image: none;
}

#container-menu {
  background-color: #1D3251;
  margin-bottom: 0px;
  width: 100%;
}

#navbar-nav {
  margin-left: 16%;   
  font-size: 14px;
}

.container #common-home {
  padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
    margin-left: 0px;
}

#div-swiper {
  margin-left: -191px;
  margin-bottom: 60px;
  z-index: 1;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  width: 133.6%;
  height: 520px;
  position: relative;
  overflow: visible;
  background: url('http://localhost/italo/image/carousel-italo.jpeg') no-repeat;
  background-size: 100%;
}

#div-carousel {
  height: 110px;
}

.carousel-inner>.item>a>img, 
.carousel-inner>.item>img, 
.img-responsive, .thumbnail a>img, 
.thumbnail>img {
  display: block;
  max-width: 100%;
}

.headerforeground01 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image : url('http://localhost/italo/image/headerforeground01.png');
  display: block;
  top: 0;
  position: absolute;
  z-index: 502;
  left: 5.95%;
  right: auto;
  margin-left: -170px;
  display: block;
  width: 146.64347826087px;
  height: 90.6666666666667px;
  position: absolute;
}

#footer-big2be {
  margin: 0;
  width: auto;
  height: 100px;
  padding-top: 27px;
  background: #3A3937;
  text-align: center;
  vertical-align: middle;
}  

#input-cantidad {
  margin-top: 0px;
  height: 40px;
  width: 85px;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}

/* Login italo */
#row-login {
  width: auto;
  height: 150px;
  margin-bottom: 20px;
}

#div-login {
  width: 300px;
  height: 150px;
  background-color: #f6f6faf5;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#div-login h2 {
  text-align: center;
  height: 45px;
  padding-top: 10px;
  background-color: #dbdddd;
  font-size: 21px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#div-login p {
  text-align: center;
  font-size: 12px;
}

#div-login input {
  text-align: center;
  margin-left: 25%;
  font-size: 12px;
}

/* checkpassword */
#row-redirect {
  width: auto;
  height: 260px;
  margin-bottom: 20px;
}

#div-redirect  {
  width: 300px;
  height: 260px;
  background-color: #f6f6faf5;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#div-redirect h2 {
  text-align: center;
  height: 45px;
  padding-top: 10px;
  background-color: #dbdddd;
  font-size: 21px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#div-redirect h4 {
  text-align: center;
}  

#div-redirect p {
  text-align: center;
  font-size: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

#div-redirect input {
  text-align: center;
  margin-left: 25%;
  margin-bottom: 10px;
  font-size: 12px;
}

/* shipptype */
#row-shipp {
  width: auto;
  height: 200px;
  margin-bottom: 20px;
}

#div-shipp  {
  width: 400px;
  height: 200px;
  background-color: #f6f6faf5;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#div-shipp h2 {
  text-align: center;
  height: 45px;
  padding-top: 10px;
  background-color: #dbdddd;
  font-size: 21px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#div-shipp p {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
}

#button1 {
  text-align: center;
  font-size: 12px;
  margin-left: 12px;
  margin-top: 10px;
  width: 180px;
}

#button2 {
  text-align: center;
  font-size: 12px;
  margin-left: 12px;
  margin-top: 10px;  
  width: 180px;
}

.button1 span, .button2 span {
  margin-left: 5px;
}

/* Login italo */
#row-address  {
  width: auto;
  height: 205px;
  margin-bottom: 20px;
}

#div-address {
  width: 600px;
  height: 205px;
  background-color: #f6f6faf5;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}  

#div-select {
  width: auto;
  height: 60px;
}

#select-address {
  background-color: #f2f6f6;
  color: black;
  /*font-size: 16px;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

#div-address h2 {
  text-align: center;
  height: 45px;
  padding-top: 10px;
  background-color: #dbdddd;
  font-size: 18px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#button-list {
  display: inline-block;
  margin-top: 10px;
  margin-left: 200px;
  width: auto;
  height: 30px;
  background-color: #324458;
  border-radius: 4px;
}

#button-list i {
  color: white;
  margin-top: 7px;
}

#button-list a:hover {
  cursor:pointer;
}

#button-new {
  display: inline-block;
  margin-top: 10px;
  width: auto;
  height: 30px;
  background-color: #324458;
  border-radius: 4px;
}

#button-new i {
  color: white;
  margin-top: 7px;
}

#button-new a:hover {
  cursor:pointer;
}

.btn-italo {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #324458;
  background-image: linear-gradient(to bottom, #3f5874, #37587d);
  background-repeat: repeat-x;
  border-color: #37587d #37587d #101e2c;
}

.input-disable {
  pointer-events: none;
  border: 1px solid grey;
  background-color: lightgrey;
}

/* Select Address */
.form-control {
  display: block;
  width: 89%;
  height: 40px;
  margin-left: 33px;
  padding: 6px 16px;
  font-size: 14px !important;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.col1 {
  margin-left: 1px;
}

.col2 {
  margin-left: -50px;
}
